*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../src/assets/fondo1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;


}
.logo-navbar{
  width: 110px;
  height: 40px;
}
.bg-image{
  background-image: url("../src/assets/card.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 25%;
  height: 100vh; 
  width: 100%;

}
.bg-imageCard1{
  background-image: url("../src/assets/card1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 70%;
  height: 100vh; 
  width: 100%;
  transition: transform 0.3s ease-in-out;


}
.bg-img:hover{
  transform: scaleY(1.1);
}

.bg-imageCard2{
  background-image: url("../src/assets/card2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 40%;
  height: 100vh; 
  width: 100%;
  transition: transform 0.3s ease-in-out;

}
.bg-imageCard3{
  background-image: url("../src/assets/card3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 30%;
  height: 100vh; 
  width: 100%;
  transition: transform 0.3s ease-in-out;

}
.bg-imageCasa{
  background-image: url("../src/assets/casa.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 40%;
  height: 100vh; 
  width: 100%;
  transition: transform 0.3s ease-in-out;

}

.bg-terreno{
  background-image: url("../src/assets/terreno.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 40%;
  height: 100vh; 
  width: 100%;
  transition: transform 0.3s ease-in-out;

}
.bg-contact{
background-image: url("../src/assets/fondoContact.jpeg");
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0%;

  width: 100%;
  transition: transform 0.3s ease-in-out;

}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 6em;

}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.subtitulo-home{
background-color: #1D3251;
}
.letra-azul{
  color: #1D3251;
}
/* .logo-whatsapp{
  
  width: 60px;
  height: auto;
  position: sticky;
  object-fit: contain;
  top: 80%;
  left: 89%;
  transition: transform 0.3s ease-in-out;

} */
/* 
.logo-whatsapp:hover {
  transform: scale(1.1);
} */

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.efect-glass{
  background: rgba(5, 5, 5, 0.2);
box-shadow: 0 4px 30px rgba(7, 7, 7, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.bg-bordeau{

  background-color:#711A1A ;
}


.linkhover{
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

}

.linkhover:hover{
  cursor: pointer;
  transform: scale(1.1);

}

.link-hover:hover{
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
  transform: scale(1.1);

}
.property-image {
  width: 100%; 
  height:150px; 
  object-fit: cover; 
  display: block;
}
.card-houses{
  min-height: 330px;
  box-shadow: 0px 8px 29px -3px rgba(0,0,0,0.2);}
.colorAzul{
border-bottom: #1d32514d 1px solid;
}
.custom-btn.btn {
    background-color: #1D3251 ;
    border-color:#1D3251; 
  }

  .custom-btn.btn:hover {
    background-color: #7184a0 ;
    border-color:#7184a0; 

  }
.carousel-casa img{
  height: 400px;
}


@media all and (min-width: 480px) and (max-width: 768px) {
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4em;
  
  }
  .carousel-casa img{
    height: 300px;
  }
/*   .logo-whatsapp {
    width: 60px;
    height: auto;
    position: sticky;
    top: 80%;
    left: 75%;
  } */

 }


@media all and (max-width: 480px) { 
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3em;
  
  }
  .carousel-casa img{
    height: 70vh;
    width: 75vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
/*   .logo-whatsapp{
    width: 60px;
    height: auto;
    position: sticky;
    top: 80%;
    left: 70%;
  } */
  
} 
